apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "extensionlib.names.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
  {{- range $key, $value := .Values.extraLabels }}
    {{ $key }}: {{ $value }}
  {{- end }}
  {{- include "extensionlib.labels" (list .) | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "extensionlib.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "extensionlib.selectorLabels" . | nindent 8 }}
        {{- include "extensionlib.labels" (list .) | nindent 8 }}
        {{- range $key, $value := .Values.extraLabels }}
        {{ $key }}: {{ $value }}
        {{- end }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - image: {{ .Values.image.name }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: extension
          ports:
            - containerPort: 8085
          resources:
            requests:
              memory: {{ .Values.resources.requests.memory }}
              cpu: {{ .Values.resources.requests.cpu }}
            limits:
              memory: {{ .Values.resources.limits.memory }}
              cpu: {{ .Values.resources.limits.cpu }}
          livenessProbe:
            httpGet:
              port: 8086
              path: /health/liveness
          readinessProbe:
            httpGet:
              port: 8086
              path: /health/readiness
          securityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10000
            runAsGroup: 10000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          env:
            {{- include "extensionlib.deployment.env" (list .) | nindent 12 }}
            - name: STEADYBIT_EXTENSION_ASSUME_ROLES
              value: {{ join "," .Values.aws.assumeRoles | quote }}
            {{- if .Values.aws.discovery.attributes.excludes.ec2 }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTE_EXCLUDES_EC2
              value: {{ join "," .Values.aws.discovery.attributes.excludes.ec2 | quote }}
            {{- end }}
            {{- if .Values.aws.discovery.attributes.excludes.zone }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTE_EXCLUDES_ZONE
              value: {{ join "," .Values.aws.discovery.attributes.excludes.zone | quote }}
            {{- end }}
            {{- if .Values.aws.discovery.attributes.excludes.fis }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTE_EXCLUDES_FIS
              value: {{ join "," .Values.aws.discovery.attributes.excludes.fis | quote }}
            {{- end }}
            {{- if .Values.aws.discovery.attributes.excludes.lambda }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTE_EXCLUDES_LAMBDA
              value: {{ join "," .Values.aws.discovery.attributes.excludes.lambda | quote }}
            {{- end }}
            {{- if .Values.aws.discovery.attributes.excludes.rds }}
            - name: STEADYBIT_EXTENSION_DISCOVERY_ATTRIBUTE_EXCLUDES_RDS
              value: {{ join "," .Values.aws.discovery.attributes.excludes.rds | quote }}
            {{- end }}
            {{- with .Values.extraEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.extraEnvFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- include "extensionlib.deployment.volumeMounts" (list .) | nindent 12 }}
      volumes:
        {{- include "extensionlib.deployment.volumes" (list .) | nindent 8 }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
      {{- toYaml . | nindent 8 }}
      {{- end }}
